= semantic_form_for [@paciente] do |form|
  = form.input :nome, :label => 'Nome' 
  = form.input :cpf, :label => 'Cpf'
  = form.input :sexo, :label => 'Sexo'
  = form.input :telefone, :label => 'Telefone'
  = form.input :email, :label => 'Email'
  = form.input :data, :label => 'Data'
  = form.input :logradouro, :label => 'Logradouro'
  = form.submit 'Salvar'
